<div class="container-fluid">
	<table id="myTable" class="table table-striped table-bordered" width="100%">
		<thead>
			<tr>
				<th>Env</th>
				<th>Produit</th>
				<th>Profil</th>
				<th>n&deg;Pass</th>
				<th>Zones</th>
				<th>Horodatage</th>
				<th>Nature Valid</th>
				<th>Transporteur</th>
				<th>Ligne</th>
				<th>Sens</th>
				<th>n&deg;Equip</th>
				<th>Coquille</th>
			</tr>
		</thead>
		<tbody>
		{% if ( dataSic is defined ) and not ( dataSic == false ) %}
			{% include('pass/bus/sicBus.html.twig') %}
		{% else %}
			<script type="text/javascript">
				document.getElementById('data').style.display ="block";
			</script>
		{% endif %}
		{% if ( dataCtu is defined ) and not ( dataCtu == false ) %}
			{% include('pass/bus/ctuBus.html.twig') %}
		{% else %}
			<script type="text/javascript">
				document.getElementById('dataCtu').style.display ="block";
			</script>
		{% endif %}
		{% if ( dataOlaf is defined ) and not ( dataOlaf == false ) %}
			{% include('pass/bus/olafBus.html.twig') %}
		{% else %}
			<script type="text/javascript">
				document.getElementById('dataOlaf').style.display ="block";
			</script>
		{% endif %}
		{% if ( dataOpm is defined ) and not ( dataOpm == false ) %}
			{% include('pass/bus/opmBus.html.twig') %}
		{% else %}
			<script type="text/javascript">
				document.getElementById('dataOpm').style.display ="block";
			</script>
		{% endif %}
		{% if ( dataStif is defined ) and not ( dataStif == false ) %}
			{% include('pass/bus/stifBus.html.twig') %}
		{% else %}
			<script type="text/javascript">
				document.getElementById('dataStif').style.display ="block";
			</script>
		{% endif %}

		</tbody>
	</table>
</div>