{% extends "base.html.twig" %}

{% block title %}Erreur 500. Erreur critique.{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/CSS/404.css') }}"  type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ asset('/CSS/bootstrap.css') }}"></style>
	<link rel="stylesheet" type="text/css" href="{{ asset('/CSS/formulaire.css') }}"></style>
{% endblock %}

{% block body %}
        <!-- Error Page -->
            <div class="error">
                <div class="container-floud">
                    <div class="col-xs-12 ground-color text-center">
                        <div class="container-error-404">
                            <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                            <div class="msg">OH!<span class="triangle"></span></div>
                        </div>
                        <h2 class="h1">Une anomalie critique a &eacute;t&eacute; d&eacute;tect&eacute;e dans le code!!! Herv&eacute; est sur le pont.</h2>
                    </div>
                </div>
            </div>
			<script src="{{ asset('/JS/500.js') }}"></script>
        <!-- Error Page -->
{% endblock %}